:host {
  display: flex;
  flex-direction: column;
  min-width: 310px;   
}

.keyword {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--middle-blue);
  font-size: 6.3rem; 
  letter-spacing: -6px;  
}

div {
  width: 100%;
  color: var(--black);
  font-size: 2rem;
}
.start {
  display: flex;
  justify-content: flex-start;
  
}

.end {
  display: flex;
  justify-content: flex-end;
}

slot[name="start"] {
  display: block;
  position: relative;
  top: 21px;
  
}

slot[name="end"] {
  display: block;
  position: relative;
  top: -5px;
}


