* {
  box-sizing: border-box;
} 

:host {  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
  width: 375px;
  height: 812px;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 10px 10px 22px -2px #2a2a2a67;
  padding: 50px 7px;
  margin: 10px;
}
