@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
  box-sizing: border-box;
} 

:host {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-wrap: wrap;
 /* flex-direction: column;    */
  justify-content: center;
  align-items: center;
  background: #fafafa;
  font-family: 'Roboto', sans-serif;
  color: #fafafa;
  --white: #ffffff;
  --black: #000000;
  --light-blue: #00C9FF73;  
  --dark-blue: #0B5D7C;
  --dark2-blue: #07759c;
  --middle-blue: #4AB4DC;
  --middle2-blue: #00C9FF;  
}

#welcome img, #finish-training img {
  display: flex;
  align-self: center;
  width: 375px;
  margin-bottom: 25px;
}
/* SCREEN 1 */
#welcome {  
  background-color: var(--light-blue);
  justify-content: flex-end;
  padding-bottom: 100px;
}
/* SCREEN 2 */
#series-selection {
  display: none;
}

/* SCREEN 3 */
#rounds-selection {
  display: none;
}

/* SCREEN 4 */
#exercises-selection {
  display: none;  
}


/* SCREEN 5 */
#preparation {
  display: flex;
  justify-self: center;
  background-color: var(--middle2-blue);
}

/* SCREEN 6 */
#activity {
  display: flex;
  background-color: var(--dark-blue);
}

.counter-fraction-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
/* SCREEN 7 */
#pause {
  display: flex;
}

.white {
  color: var(--white);
}

/* SCREEN 8 */
#finish-training {
  display: none;
  background-color: var(--middle2-blue);
}

#finish-training button-normal {
  background-color: var(--dark-blue);
  border: 2px solid var(--dark-blue);
}

#finish-training #logout {
  border: 2px solid var(--dark-blue);
  background-color: transparent;
}

/* SCREEN 9 */
#archive-selection {
  display: none;
}
/* SCREEN 10 */
#training-verification {
  display: none;
}

/*PRUEBA PARA VER CÓMO CAMBIAR COLOR DE UN CUSTOM ELEMENT
:host(section) > #series-selection {
  background-color: rgb(173, 89, 89);
}
*/

/******** Styling the special-title for each case ********/

#series-selection span[slot="keyword"] {
  font-size: 6.9rem;
  letter-spacing: 4px;
}


#rounds-selection span[slot="keyword"] {
  font-size: 6.9rem;
}

#archive-selection span[slot="keyword"], #training-verification span[slot="keyword"] {
  font-size: 6.9rem;
  letter-spacing: 4px;
}

#exercises-selection span[slot="keyword"] {
  letter-spacing: -10px;
  font-size: 6rem;
}

#archive-selection span[slot="start"], #training-verification span[slot="start"], #series-selection span[slot="start"], #rounds-selection span[slot="start"] {
  position: relative;
  top: 17px;  
}

#exercises-selection span[slot="start"] {
  position: relative;
  top: 4px;  
}

#archive-selection span[slot="end"], #training-verification span[slot="end"], #series-selection span[slot="end"], #rounds-selection span[slot="end"], #exercises-selection span[slot="end"] {
  position: relative;
  top: -10px;  
}

/**************************************************/