button {  
  background-color: transparent;
  padding: 0;
  margin-top: 15px;
  border: 1px solid var(--middle-blue);
  border-radius: 50%;
  width: 60px;
  height: 60px;  
}

img {
  object-position: center;
  border: transparent;
  padding-right: 5px;
}

button:active {
  background-color: #e2e1e1;
}